.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: 1200px) {
        max-width: 768px;
    }
    @media (max-width: 797px) {
        max-width: 576px;
    }
    @media (max-width: 601px) {
        max-width: 376px;
    }
    @media (max-width: 401px) {
        max-width: 310px;
    }
  }

::-webkit-input-placeholder {
    color: white;
 }

.header {
    background: rgba(0, 0, 0, 0.856);
    height: 70px;
    display: flex;
    align-items: center;
    transition: .3s;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(15px);
    &__more {
        display: flex;
        align-items: center;
        &-info {
            position: relative;
            &:hover {
                .header__more-signOut {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &-name {
            padding: 5px;
            background: rgba(179, 152, 152, 0.288);
            border: none;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                color: orange;
            }
        }
        &-signOut {
            position: absolute;
            top: 30px;
            left: -40%;
            padding: 5px;
            background: rgba(179, 152, 152, 0.288);
            backdrop-filter: blur(15px);
            min-width: 80px;
            text-align: center;
            border: none;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            opacity: 0;
            visibility: hidden;
            &:hover {
                color: orange;
            }
        }
    }
    &__change {
        height: 35px;
        width: 35px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: .3s;
        margin: 20px;
        &:hover {
            background: white;
            color: black;
        }
        &-img {
            width: 100%;
            height: 100%;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-logo {
            font-size: 25px;
            display: flex;
            align-items: center;
            color: white;
            transition: .3s;
            display: inline-block;
            &:hover {
                color: rgb(201, 146, 46);
            }
        }
        &-span {
            margin-left: 15px;
        }
        &-form {
            position: relative;
            width: 500px;
            @media (max-width: 601px) {
                width: 100%;
            }
        }
        &-input {
            padding: 5px;
            width: 97%;
            background: rgba(179, 152, 152, 0.143);
            border: none;
            font-size: 15px;
            color: white;
            backdrop-filter: blur(15px);
            border-radius: 3px;
            &:focus {
                outline: none;
            }
            @media (max-width: 601px) {
               width: 100%;
            }
        }
        &-btn {
            padding: 5px;
            background: rgba(179, 152, 152, 0.288);
            border: none;
            color: white;
            cursor: pointer;
            transition: .3s;
            @media (max-width: 400px) {
                display: none;
            }
            &:hover {
                color: rgb(201, 146, 46);
            }
        }
        &-menu {
            color: white;
            font-size: 22px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: rgb(201, 146, 46);
            }
        }
    }
    &__side {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 300px;
        background: rgba(0, 0, 0, 0.734);
        backdrop-filter: blur(15px);
        z-index: 99999;
        padding: 20px;
        &-func {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-close {
            color: white;
            font-size: 22px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: rgb(201, 146, 46);
            }
        }
        &-info {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
        }
        &-title {
            color: white;
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 10px;
            text-align: center;
        }
        &-list {
            width: 100%;
        }
        &-item {
            width: 100%;
            text-align: center;
            transition: .3s;
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            &:hover {
                background: white;
                & a {
                    color: black;
                }
            }
        }
        &-link {
            color: white;
            transition: .3s;
            font-size: 20px;       
        }
    }
}